# Configuration file

~CONFIG_VERSION: rv3-beta-484-GTNH

counters {
    I:lastGridStorage=252
    I:lastPlayer=2
}


dimensionmanager {
    I:StorageCells <
     >
}


gridstorage {
    S:128=H4sIAAAAAAAAAONiYGBj4E6tKClKdM1LLUqvZIABAMP4DdoaAAAA
}


players {
    I:30e76db5-537c-3aea-96cc-16ed797fd774=1
    I:3f73bdc4-9b7f-409d-875c-c90e84c3513d=0
}


